app:
  data-source:
    url: jdbc:mysql://localhost:3306/guiarest
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  spring:
    jpa:
    hibernate:
    ddl-auto: update
    show-sql: true
  properties:
    format-sql: true
